*.pyc
dist/*
docs/build/*
docs/make.bat
docs/Makefile
python_reapy.egg-info/
*.sublime-workspace
*.sublime-project

reapy/core/_JS_API_generated.py
*.mypy_cache/

reapy/ImGui.py

reapy_boost.egg-info/
